html {
    font-size: 16px;
    font-family: -appple-system, "Helvetica", sans-serif;
}

div, span {
    padding: 0em;
    margin: 0;
}

body, main {
    color: white;
    background: #00;
}

a, p,
i {
    font-weight: normal;
}
