/* This file is for testing -config-standard-scss and -scss plugins
 * are working out of the box when no stylelintrc is found and fallback
 * is set by user to "standard" linting.
 *
 * move out into ~/test directory (or wherever there's not accessible
 * stylelintrc config file available) and open with `nova ~/test/sassy.scss`.
 */

@use "sass:meta";

$test: (
  1: "hello",
  2: "world"
);

@function sass-function($param) {
  // Expected single space before "==" - Stylelint (scss/operator-no-unspaced)
  // Expected single space after "==" - Stylelint (scss/operator-no-unspaced)
  @if meta.type-of($param)==number {
    @return $param * 10;
  }

  @else {
    // Expected indendation of 4 spaces - Stylelint(indentation)
        @return $param + " (string)";
  }
}

// Expected mixin name to be kebab-case - Stylelint (scss/at-mixin-pattern)
@mixin mixinName() {
  box-sizing: border-box;
}

html,
body {
  @include mixinName;

  font-size: sass-function(5) + px;
  color: #000;
  background-color: #fff;

  display: flex; // Unexpected empty line before declaration - Stylelint(declaration-empty-line-before)

  &::before {
    font-size: 0;
    content: sass-function("hello, world");
  }
}
