# yaml-language-server: $schema=https://json.schemastore.org/eslintrc.json
---
env:
    node: false
    browser: false
    nova/nova: true
    es2020: true

parserOptions:
    sourceType: module

extends: eslint:recommended

plugins:
  - nova

ignorePatterns:
  - '*.*'
  - '!*.js'
  - '!*.cjs'
  - '!*.mjs'
  - '*.min.js'
  - '*.dist.js'
  - '!*.ts'
  - 'node_modules'
  - 'vendor'
  - 'dist'

rules:
    indent:
      - error
      - 4
      - SwitchCase: 1
        ignoreComments: true

    linebreak-style:
      - error
      - unix

    quotes:
      - error
      - double
      - avoidEscape: true

    semi:
      - error
      - always

    no-promise-executor-return: warn
    no-async-promise-executor: warn

    arrow-parens:
      - warn
      - as-needed
    array-element-newline:
      - warn
      - consistent

    computed-property-spacing:
      - error
      - never

    no-unused-vars: off
    array-bracket-spacing: off
    no-empty: off
    no-useless-escape: off

# ————— Enable typescript-eslint for TS files only ——————————————————

overrides:
  - files: '*.ts'
    plugins:
      - '@typescript-eslint'
    parser:
        '@typescript-eslint/parser'
