# yaml-language-server: $schema=https://json.schemastore.org/eslintrc.json
---
env:
    browser: false
    node: true
    es2021: true
    nova/nova: true

parserOptions:
    ecmaVersion: latest
    sourceType: module

extends: "eslint:recommended"

plugins:
  - nova

ignorePatterns:
  - "**/node_modules/*"
  - "**/*.dist.js"
  - "**/*.json"
  - "**/*.md"

rules:
    indent:
      - error
      - 4
      - SwitchCase: 1
        ignoreComments: true

    linebreak-style:
      - error
      - unix

    quotes:
      - error
      - double
      - avoidEscape: true

    semi:
      - error
      - always

    no-promise-executor-return: warn
    no-async-promise-executor: warn

    arrow-parens:
      - warn
      - as-needed
    array-element-newline:
      - warn
      - consistent
    comma-dangle:
      - warn
      - never
    computed-property-spacing:
      - error
      - never

    no-unused-vars: off
    array-bracket-spacing: off
    no-empty: off
    no-useless-escape: off
